.samm{
    font-size: 2rem;
    color: blueviolet;
    margin: 0;
}
.sally{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  width: 45rem;
  height: 5rem;
  background-color: lightskyblue;
  border: 3px solid black;
}
.sazz{
    font-size: 0.9rem;
    margin-top: 0;
    margin-bottom: 0%;
}
.saz24{
    padding-left: 24rem;
}
.saz23{
    padding-left: 10rem;
    padding-bottom: 3rem;
}
.saz22{
    padding-bottom: 2rem;
}
.saz21{
    font-size: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
    text-align: center;
}