.samm{
    font-size: 2rem;
    color: blueviolet;
    margin: 0;
}
.sally{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  width: 42rem;
  height: 5rem;
  background-color: lightskyblue;
  border: 3px solid black;
}
.sazz{
    font-size: 0.9rem;
    margin-top: 0;
    margin-bottom: 0%;
}
.saz24{
    padding-left: 20rem;
}
.saz25{
    padding-left: 1rem;
}
.saz23{
    padding-bottom: 3rem;
}
.saz22{
    padding-bottom: 6rem;
}
.saz21{
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
    position: relative;
    padding-top: 3rem;
}

.outset {
    border-style: outset;
    border-left: 5rem;
    border-width: 0.2rem;
    border-right: 5rem;
}