p.solid {
  border-style: solid;
  height: 500px;
  padding: 30%; /* this css will mainly work with the index.html file but will use overs */
}
.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a {
  float: left;
}

a {
  display: grid;
  padding: 0;
  background-color: white;
  font-size: 20px;
}
.slice {
  font-size: 100px;
  color: black;
  display: inline-block;
  height: 10px;
  position: absolute;
}

* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  width: 100%;
  background-color: aquamarine;
  overflow: auto;
  border: 3px solid plum;
}

.navbar a {
  float: left;
  padding: 12px;
  color: purple;
  text-decoration: none;
  font-size: 17px;
  width: 25%;
  text-align: center;
}

.navbar a:hover {
  background-color: red;
}

.navbar a.active {
  background-color: blueviolet;
}

@media screen and (max-width: 768px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}
.cured {
  color: purple;
  display: inline-block;
  height: 10px;
  position: absolute;
}
.container {
  position: relative;
  width: 40%;
}

.image {
  display: block;
  width: 33rem;
  height: auto;
}

.imageR{
  display: block;
  width: 30rem;
  height: auto;
  float: right;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  width: 35rem;
  height: 5rem;
  background-color: lightskyblue;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: purple;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.drag{
  float: right;
  width: 20%;
}

.topnav {
  overflow: hidden;
  background-color: #f1f1f1;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
  border-bottom: 3px solid red;
}

.topnav a.active4 {
  border-bottom: 3px solid red;
}