p.solid {
  border-style: solid;
  height: 500px;
  padding: 30%; /* this css will mainly work with the index.html file but will use overs */
}
.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a {
  float: left;
}

.salad {
  text-align: center;
}
a {
  display: grid;
  padding: 0;
  background-color: white;
  font-size: 1.25rem;
}
.slice {
  font-size: 6rem;
  color: black;
  display: inline-block;
  height: 3rem;
  margin-left: 25rem;
}
.slice2{
  margin-bottom: 3rem;
  margin-right: 10rem;
  margin-left: 30rem;
}

* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  width: 100%;
  background-color: plum;
  overflow: auto;
  border: 3px solid plum;
}

.navbar a {
  float: left;
  padding: 12px;
  color: purple;
  text-decoration: none;
  font-size: 17px;
  width: 25%;
  text-align: center;
}

.navbar a:hover {
  background-color: red;
}

.navbar a.active {
  background-color: blueviolet;
  width: 70%;
}

@media screen and (max-width: 48rem) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}
.cured {
  color: purple;
  display: inline-block;
  height: 10rem;
  position: relative;
  font-size: 2vw;
}
.contain {
  position: relative;
  width: 40%;
}

.imageR {
  display: block;
  width: 33rem;
  height: auto;
  float: right;
}
.image {
  display: block;
  width: 33rem;
  height: auto;
  opacity: 5rem;
}

.imageR {
  display: block;
  width: 40%;
  height: auto;
  float: right;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  width: 35rem;
  height: 5rem;
  background-color: lightskyblue;
  border: 3px solid plum;
}

.contain:hover .overlay {
  opacity: 1;
}

.text {
  color: purple;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.drag {
  float: right;
  width: 20%;
  font-size: 2vw;
  color: purple;
}

.th {
  border: 0.4rem solid black;
}
.lamb {
  width: 100%;
}
.somber td{
  width: auto;
}
.somber a{
  width: 100%;
}
.embar {
  width: 90%;
}
.salsa{
  border-style: solid;
  border-color: gold;
  background-color: salmon;
}
.salsa2{
  border-style: solid;
  border-color: gold;
  background-color: salmon;
}

/*everthing under this is a universal @media that will be used in every part of the wedsite*/
.example {
  padding: 20px;
  color: white;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .example {height: 0;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example {height: 0;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .example {height: 0;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .example {height: 0;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .example{height: 0;}
}