.bor{
    border-style: solid;
    border-color: crimson;
    border-width: 2rem;
    background-color: black;
}
.slice3{
    margin-left: 21rem;
    margin-top: 5rem;
}

/*everthing under this is a universal @media that will be used in every part of the wedsite*/
.example {
  padding: 20px;
  color: white;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .example {height: 0;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example {height: 0;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .example {height: 0;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .example {height: 0;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .example{height: 0;}
}