.samm{
    font-size: 1.6rem;
    color: blueviolet;
    margin: 0;
}
.sally{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  width: 45rem;
  height: 5rem;
  background-color: lightskyblue;
  border: 3px solid black;
}
.sazz{
    font-size: 0.9rem;
    margin-top: 0;
    margin-bottom: 0%;
}
.fam{
    margin-top: 5rem;
    margin-left: 20rem;
}
.savo{
    font-size: 1.5rem;
    background-color: aquamarine;
}
.saz34{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 60%;
}