.samm{
    font-size: 1rem;
    color: blueviolet;
    margin: 0;
}
.sally{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  width: 45rem;
  height: 5rem;
  background-color: lightskyblue;
  border: 3px solid black;
}
.sazz{
    font-size: 0.9rem;
    margin-top: 0;
    margin-bottom: 0%;
}
.trains{
    margin-top: 4%;
}
.rezal{
    font-size: 1.5rem;
    background-color: aquamarine;
}
.saz34{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 60%;
}
.saz35{
    position: relative;
    top: 0;
    left: 3rem;
    bottom: 0;
    right: 0;
    width: 70%;
}
.saz40{
    position: relative;
    top: 0;
    left: 35rem;
    bottom: 0;
    right: 0;
    width: 60%;
}
.alpha {
    padding: 1%;
    height: 15rem;
    width: 17rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}